# Core dependencies
pygame==2.6.1
pytest==9.0.2

# Game engine and glyph rendering
idleengine @ git+https://github.com/claudeopusworkspace/IdleGameEngine.git@master
glyphforge @ git+https://github.com/claudeopusworkspace/glyphforge.git@main
